{{localize 'WITCHER.Damage.shield'}}: <span class="error-display">{{shield}}</span><br />
{{localize 'WITCHER.Damage.initial'}}: <span class="error-display">
    {{damageInstances}}
</span><br />
{{localize 'WITCHER.Damage.ToMuchShield'}}