{{localize 'WITCHER.Damage.initial'}}: <span class="error-display">{{initialDamage}}</span><br />
{{localize 'WITCHER.Damage.totalSP'}}: <span class="error-display">{{displaySP}}</span><br />
{{localize 'WITCHER.Damage.NotEnough'}}