{{#if skill.isVisible}}
    <tbody class="skill" data-skill="{{name}}" data-stat={{stat}}>
        <tr>
            <td class="{{name}} char-skill" data-action="rollSkill" data-skill="{{name}}">
                <a>{{localize skill.label}}</a>
            </td>
            <td class="char-input-skill">
                <input class="{{name}}" name="system.skills.{{stat}}.{{name}}.value" type="number"
                    value="{{skill.value}}" />
            </td>
        </tr>
    </tbody>
{{/if}}