{{#each stats as |details stat|}}
    {{#unless (eq (localize details.label) (localize 'WITCHER.Actor.Stat.Toxicity'))}}
        <div>
            <span>{{localize details.label}}</span>
            <input class='header-stat stat-max' name='system.{{@root.type}}.{{stat}}.unmodifiedMax' type='number'
                value='{{details.max}}' placeholder='0' data-dtype='Number' />
        </div>
    {{/unless}}
{{/each}}

{{#if reputation}}
    <div>
        <span>{{localize 'WITCHER.Reputation'}}</span>
        <input class='header-stat stat-max' name='system.reputation.unmodifiedMax' type='number'
            value='{{reputation.max}}' placeholder='0' data-dtype='Number' />
    </div>
{{/if}}