<div class="tab {{tabs.general.cssClass}} scrollable standard-form" data-group="primary" data-tab="general">

    {{formGroup systemFields.head.fields.stoppingPower value=document.system.head.stoppingPower localize=true hint='WITCHER.Armor.LocationHead'}}
    {{formGroup systemFields.head.fields.maxStoppingPower value=document.system.head.maxStoppingPower localize=true hint='WITCHER.Armor.LocationHead'}}

    {{formGroup systemFields.torso.fields.stoppingPower value=document.system.torso.stoppingPower localize=true hint='WITCHER.Armor.LocationTorso'}}
    {{formGroup systemFields.torso.fields.maxStoppingPower value=document.system.torso.maxStoppingPower localize=true hint='WITCHER.Armor.LocationTorso'}}

    {{formGroup systemFields.leftArm.fields.stoppingPower value=document.system.leftArm.stoppingPower localize=true hint='WITCHER.Armor.locationLeftArm'}}
    {{formGroup systemFields.leftArm.fields.maxStoppingPower value=document.system.leftArm.maxStoppingPower localize=true hint='WITCHER.Armor.locationLeftArm'}}

    {{formGroup systemFields.rightArm.fields.stoppingPower value=document.system.rightArm.stoppingPower localize=true hint='WITCHER.Armor.locationRightArm'}}
    {{formGroup systemFields.rightArm.fields.maxStoppingPower value=document.system.rightArm.maxStoppingPower localize=true hint='WITCHER.Armor.locationRightArm'}}

    {{formGroup systemFields.leftLeg.fields.stoppingPower value=document.system.leftLeg.stoppingPower localize=true hint='WITCHER.Armor.locationLeftLeg'}}
    {{formGroup systemFields.leftLeg.fields.maxStoppingPower value=document.system.leftLeg.maxStoppingPower localize=true hint='WITCHER.Armor.locationLeftLeg'}}

    {{formGroup systemFields.rightLeg.fields.stoppingPower value=document.system.rightLeg.stoppingPower localize=true hint='WITCHER.Armor.locationRightLeg'}}
    {{formGroup systemFields.rightLeg.fields.maxStoppingPower value=document.system.rightLeg.maxStoppingPower localize=true hint='WITCHER.Armor.locationRightLeg'}}
</div>